# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import gmaps.datasets
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data = "../output_data/cities.csv"
cities_df = pd.read_csv(cities_data)
cities_df.head()

,Unnamed: 0,city,lat,lng,temp,humidity,cloudiness,wind_spd,country
0,0,straumen,63.87,11.30,35.60,93.0,83.0,1.74,NO
1,1,busselton,-33.65,115.33,59.22,97.0,95.0,22.03,AU
2,2,sao filipe,14.90,-24.50,71.13,72.0,28.0,19.19,CV
3,3,yulara,-25.24,130.99,69.80,37.0,22.0,9.17,AU
4,4,tasiilaq,65.61,-37.64,32.00,95.0,99.0,13.87,GL

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
humidity_m = gmaps.Map()

In [5]:
cities_df.columns = ["Number", "City", "latitude", "longitude", "temp", "humidity", "cloudiness", "wind_spd", "Country"]
heatmap_df = cities_df.iloc[:,[2,3,5]]
heatmap_df

     latitude  longitude  humidity
0       63.87      11.30      93.0
1      -33.65     115.33      97.0
2       14.90     -24.50      72.0
3      -25.24     130.99      37.0
4       65.61     -37.64      95.0
..        ...        ...       ...
554     61.03      76.11      53.0
555     38.89     -76.51      43.0
556    -22.67     167.48      68.0
557     25.52      90.22      79.0
558      6.37       2.42      83.0

[559 rows x 3 columns]

In [6]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    heatmap_df[['latitude', 'longitude']], weights=heatmap_df['humidity'],
    max_intensity=30, point_radius=4.0
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
hotel_df = cities_df.loc[(cities_df["temp"]<80) & (cities_df["temp"]>60) & (cities_df["wind_spd"]<10) & (cities_df["cloudiness"]==0)].copy()
hotel_df

,Number,City,latitude,longitude,temp,humidity,cloudiness,wind_spd,Country
41,43,port alfred,-33.59,26.89,63.00,88.0,0.0,5.01,ZA
55,62,port elizabeth,-33.92,25.57,60.80,100.0,0.0,1.12,ZA
115,127,morondava,-20.28,44.28,76.55,71.0,0.0,5.97,MG
173,195,raikot,30.65,75.60,69.01,62.0,0.0,4.38,IN
235,260,iralaya,15.00,-83.23,79.99,77.0,0.0,8.72,HN
253,279,tandil,-37.32,-59.13,64.00,66.0,0.0,1.99,AR
315,345,rurrenabaque,-14.44,-67.53,68.83,71.0,0.0,1.01,BO
330,360,rocha,-34.48,-54.33,60.55,93.0,0.0,6.98,UY
373,410,santana do livramento,-30.89,-55.53,60.85,72.0,0.0,6.46,BR
404,442,rosetta,31.40,30.42,62.60,77.0,0.0,5.82,EG
407,445,kruisfontein,-34.00,24.73,65.39,36.0,0.0,6.62,ZA
474,519,mercedes,-34.65,-59.43,63.64,82.0,0.0,8.57,AR
525,572,charagua,-19.80,-63.22,62.89,37.0,0.0,1.25,BO

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df["Hotel Name"] = ""
hotel_df

,Number,City,latitude,longitude,temp,humidity,cloudiness,wind_spd,Country,Hotel Name
41,43,port alfred,-33.59,26.89,63.00,88.0,0.0,5.01,ZA,
55,62,port elizabeth,-33.92,25.57,60.80,100.0,0.0,1.12,ZA,
115,127,morondava,-20.28,44.28,76.55,71.0,0.0,5.97,MG,
173,195,raikot,30.65,75.60,69.01,62.0,0.0,4.38,IN,
235,260,iralaya,15.00,-83.23,79.99,77.0,0.0,8.72,HN,
253,279,tandil,-37.32,-59.13,64.00,66.0,0.0,1.99,AR,
315,345,rurrenabaque,-14.44,-67.53,68.83,71.0,0.0,1.01,BO,
330,360,rocha,-34.48,-54.33,60.55,93.0,0.0,6.98,UY,
373,410,santana do livramento,-30.89,-55.53,60.85,72.0,0.0,6.46,BR,
404,442,rosetta,31.40,30.42,62.60,77.0,0.0,5.82,EG,
407,445,kruisfontein,-34.00,24.73,65.39,36.0,0.0,6.62,ZA,
474,519,mercedes,-34.65,-59.43,63.64,82.0,0.0,8.57,AR,
525,572,charagua,-19.80,-63.22,62.89,37.0,0.0,1.25,BO,

In [9]:
# geocoordinates

params = {"radius":5000, "type":"lodging", "key":g_key}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

In [ ]:
params["location"] = "-23.12, -134.97"
response = requests.get(base_url, params=params).json()
pprint(response)

In [22]:
for i, row in hotel_df.iterrows():
    latitude = str(row['latitude'])
    longitude = str(row['longitude'])
    params["location"] = latitude + "," + longitude
    print(f"retriving results for {i}")
    response = requests.get(base_url, params=params).json()
    results = response['results']
        
    try:
        hotel_df.loc[i, 'Hotel Name'] = results[0]['name']
                       
    except (KeyError, IndexError): 
        hotel_df.loc[i, 'Hotel Name'] = None

retriving results for 41
retriving results for 55
retriving results for 115
retriving results for 173
retriving results for 235
retriving results for 253
retriving results for 315
retriving results for 330
retriving results for 373
retriving results for 404
retriving results for 407
retriving results for 474
retriving results for 525

In [23]:
hotel_df = hotel_df.rename(columns={"city": "City"})
hotel_df

,Number,City,latitude,longitude,temp,humidity,cloudiness,wind_spd,Country,Hotel Name
41,43,port alfred,-33.59,26.89,63.00,88.0,0.0,5.01,ZA,The Halyards Hotel
55,62,port elizabeth,-33.92,25.57,60.80,100.0,0.0,1.12,ZA,39 On Nile Guest House
115,127,morondava,-20.28,44.28,76.55,71.0,0.0,5.97,MG,La Case Bambou
173,195,raikot,30.65,75.60,69.01,62.0,0.0,4.38,IN,Gurdeep Boutique
235,260,iralaya,15.00,-83.23,79.99,77.0,0.0,8.72,HN,Iglesia morava renovada
253,279,tandil,-37.32,-59.13,64.00,66.0,0.0,1.99,AR,HOSTAL DE LA SIERRA TANDIL
315,345,rurrenabaque,-14.44,-67.53,68.83,71.0,0.0,1.01,BO,Casa de Campo
330,360,rocha,-34.48,-54.33,60.55,93.0,0.0,6.98,UY,Beleza Pura B&B
373,410,santana do livramento,-30.89,-55.53,60.85,72.0,0.0,6.46,BR,Hotel Emirates
404,442,rosetta,31.40,30.42,62.60,77.0,0.0,5.82,EG,Green Valley
407,445,kruisfontein,-34.00,24.73,65.39,36.0,0.0,6.62,ZA,Oyster Bay House Rental
474,519,mercedes,-34.65,-59.43,63.64,82.0,0.0,8.57,AR,Posada del Inti Centro
525,572,charagua,-19.80,-63.22,62.89,37.0,0.0,1.25,BO,Residencial Luismar

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [25]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    heatmap_df[['latitude', 'longitude']], weights=heatmap_df['humidity'],
    max_intensity=30, point_radius=4.0
)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heatmap_layer)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))